body a{
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
}

header {
    position: relative;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0 4px 12px 0;
    width: 100%;
}

nav {
    height: 64px;
    line-height: 30px;
}

.nav-container {
    margin: 0 auto;
    display: flex;
    padding-left: 4vw;
    padding-right: 4vw;
    max-width: calc(1140px + 8vw);
}

.max-container {
    margin: 0 auto;
    padding-left: 4vw;
    padding-right: 4vw;
    max-width: calc(1140px + 8vw);
}

.nen {
    background-color: #eee;
}

.padding-top-bottom {
    padding-top: 2em;
    padding-bottom: 2em;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin-left: auto;
    padding: 0;
}

.nav-menu li {
    margin: 0 20px;
}

.bar {
    display: none;
}

#logo img {
    width: 175px;
}

.search {
    margin: 5px 10px;
}

.nav-menu-mobile {
    width: 300px;
    margin: 0;
    padding-left: 0;
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    z-index: 999;
    display: none;
    transition: transform 0.5s cubic-bezier(0.56, 0.1, 0.34, 0.91);
}

.nav-menu-mobile li {
    padding: 10px 20px;
}

.nav-menu-mobile li a{
    text-decoration: none;
}

footer{
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 16px;
    background-color: #eee;
}

summary {
    list-style: none;
}

.line {
    margin-right: 50px;
}

.footer-container {
    padding-left: 4vw;
    padding-right: 4vw;
}

.footer-container section {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    flex-grow: 1;
}

.footer-container ul li {
    list-style: none;
}
.footer-container ul li a {
    font-size: 13px;
    text-decoration: none;
}
footer div section div details ul {
    padding-left: 0;
}

footer div section div details ul li {
    padding-top: 20px;
}

.left {
    flex: 1 1 50%;
}

.left ul {
    display: flex;
    padding-left: 0;
}

.left ul li {
    margin: 0 10px;
}

.right {
    padding-top: 15px;
}

.bq {
    font-size: 13px;
    margin: 0;
}

.footer-bottom {
   display: flex;
}

.fa-telegram {
    font-size: 25px;
    color: #2aabee;
    background-color: #fff;
    border-radius: 20px;
}

.fa-facebook {
    font-size: 25px;
    color: #2aabee;
    background-color: #fff;
    border-radius: 25px;
}

.fa-youtube {
    font-size: 25px;
    color: red;
    background-color: #fff;
    border-radius: 30px;
}

.fa-twitter-square {
    font-size: 25px;
    color:  #2aabee;
    background-color: #fff;
    border-radius: 30px;
}

#language {
    padding: 4px 10px;
    border-radius: 15px;
}

#modal {
    position: fixed;
}

#modal:target {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.modal-content {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #fff;
}

.modal-content-form {
    height: 100%;
    padding: 0 4vw;
}

.modal-content-form button{
    margin-top: 20px;
    padding: 0;
    background: #fff;
    border: none;
    font-size: 100%;
    cursor: pointer;
}

.modal-content-form input {
    padding: 0;
    width: calc(100% - 32px);
    height: 100%;
    border: none;
    outline: none;
    font-size: 100%;
}

.modal-close {
    position: fixed;
    width: 100%;
    height: 100%;

}

.container {
    padding: 4vw;
    background-color: #eee;
}

.container-img {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 12px;
}

.card-img {
    position: relative;
    margin-right: 15px;
}

.card-img div {
    position: absolute;
    top: 50px;
    padding-left: 10px;
    width: 100%;
    color: #fff;
}

.card-img img {
    width: 270px;
    border-radius: 10px;
    aspect-ratio: 2/1;
}

.card-img div p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-content {
    padding-top: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
}

.text-p {
    margin-bottom: 30px;
}

.content-item {
    flex: 0 1 100%;
    padding-bottom: 20px;
}

.item-icon {
    display: flex;
    gap: 10px;
}

.icon img{
    width: 80px;
    border-radius: 15px;
}

.item-icon div h3 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 400;
}

.div-icon {
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 13px;
}

.icon-apk{
    margin-top: 8px;
    background-color: #4caf50;
    border-radius: 15px;
    padding: 0 6px
}

.icon-mod{
    margin-top: 8px;
    background-color: #ff6900;
    border-radius: 15px;
    padding: 0 6px
}

.item-icon-p {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 13px;
}

.title-size {
    font-size: 16px;
}

.background-img {
    position: relative;
    width: 100%;
    background-size: cover;
    min-height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
}

.black-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}

.text-h1 {
    text-align: center;
    color: #fff;
}

.text-align-p {
    color: #fff;
    text-align: center;
}

.backgroud-text {
    z-index: 1;
}

.faq-columns {
    display: flex;

}

.faq-col {
    flex: 1 1 50%;
}

details summary {
    cursor: pointer;
    z-index: 1;
}

.title-summary {
    position: relative;
    padding: 15px 15px;
}

details.faq-question {
    margin: 10px 0;
    background-color: #eee;
    border-radius: 20px;
    transition: all .25s ease-out;
}

details[open].faq-question {
    border-radius: 5px;
}

details[open] .title-summary{
    background-color: #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.faq-answer a{
    color: #1a73e8;
}


.faq-col-right {
    margin-left: 32px;
}

.faq-answer {
    margin: 0;
    padding: 15px;
}

details .title-summary::after {
    position: absolute;
    content: "+";
    right: 10px;
    font-weight: 500;
}

details[open] .title-summary::after {
    position: absolute;
    content: "-";
    right: 10px;
    font-weight: 500;
}

.side-nav.nav-overlay-open {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 599px){
    .faq-columns {
        flex-wrap: wrap;
    }
    .faq-col {
        flex: 0 1 100%;
        margin-left: 0;
    }
    .footer-col {
        flex: 100%;
    }
    
}

@media only screen and (min-width: 601px){
    .content-item {
        flex: 0 1 calc(50% - 5px);
    }
    
}

@media screen and (min-width: 993px){
    .content-item {
        flex: 0 1 calc(33% - 5px);
    }

    
}


@media (min-width: 600px) and (max-width: 781px) {
    
    .hd, .new {
        margin-left: 20px;
    }

    .faq-col {
        flex-wrap: wrap;
    }

    .footer-col {
        flex: 1 1 50%;
    }

    .footer-col {
        flex: 1 1 calc(50% - 10px);
    }
    .hd, .new {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 992px) {

    .nav-menu {
        display: none;
    }

    .bar {
        cursor: pointer;
        margin: 15px;
        margin-right: auto;
        justify-content: space-between;
        display: block;
    }
    .search {
        justify-content: space-between;
        margin-left: auto;
    }
    
    #logo img {
        width: 120px;
    }
    .nav-overlay-open {
        position: fixed;
        display: block;
        height: 100%;
    }
    /*
    .active.bar {
        background-color: transparent;
    }
    .active.bar::before {
        transform: rotate(45deg);
    }
    .active.bar::after {
        transform: rotate(-45deg);
    }
    .active.bar::before,
    .active.bar::after {
        top: 0;
    }
        */
    .nav-menu-mobile.menu-open  {
        display: inline;
        transform: translateX(0%);
        top: 0;
        height: 100%;
        font-weight: 500;
        transition: transform 250ms;
    }
}

@media screen and (min-width: 782px) {
    .hd, .xh, .new {
        margin-left: 20px;
    }
}

.card-img:hover , .content-item:hover{
    opacity: 0.75;
    transition: 250ms ease-in-out;
}

#style-1::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #eee;
}

#style-1::-webkit-scrollbar
{
    margin-top: 10px;
    height: 8px;
	background-color: #eee;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #c1c1c1;
}
.item-icon-p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

h2 {
    font-weight: 350;
}

strong {
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding-bottom: 10px;
    padding-top: 15px;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #212121;
    font-weight: 350;
}