.display-background {
    padding: unset;
}

.section-game {
    margin: 0 4vw;
}

.hide-img {
    width: auto;
}

.hide-img img {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
    font-size: 18px;
}

.font-18 {
    text-align: center;
}

.font-13 {
    display: block;
    text-align: center;
}

.cart-content {
    display: unset;
    flex-wrap: unset;
    justify-content: unset;
}

.container-content {
    margin-left: 9vw;
    margin-right: 9vw;
    padding-left: 2vw;
    box-shadow: rgb(0 0 0 / 5%) 0 4px 12px 0;
}

.icon img {
    width: 55px;
}

.item-icon div h3 {
    color: #1a73e8;
}

.icon-apk, .icon-mod, .icon-beta {
    color: #fff;
}

.icon-beta {
    background-color: #1a73e8;
    border-radius: 15px;
    padding: 0 6px;
}

.small-font-size, .icon-beta {
    margin-top: 8px;
}

.div-icon {
    color: #646f78;
}

.font-size-p {
    padding-top: 8px;
}

#btn-down {
    background-color: unset;
    padding: unset;
    margin-top: 270px;
}

.btn-download {
    background-color: #32373c;
}

.entry-block p {
    line-height: 1.8;
}

.entry-block {
    
    background-color: unset;
    margin-left: 8vw;
    margin-right: 8vw;
    box-shadow: unset;
}

.title-left {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .container-content {
        margin-left: 0;
        margin-right: 0;
        padding-left: 2vw;
    }

    .entry-block {
        margin-left: 0;
        margin-right: 0;
    }

    .section-game {
        margin: 0;
    }

    .game-content {
        padding: 0;
    }
}

@media screen and (min-width: 993px) {
    .hide-img {
        display: block;
    }

    .section-game {
        margin: 0 6vw;
    }

}