h1 {
    font-size: 28px;
}
.breadcrumb {
    font-size: 13px;
}
.section-game {
    padding-top: 20px;
    padding-bottom: 50px;
}

.game-content {
    padding: 0 4vw;
}

.div-text-p {
    line-height: 1.8;
    padding-bottom: 20px;
}

.flex-item {
    white-space: nowrap;
    overflow: auto;
}

.flex-item ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.flex-item ul li {
    display: inline-block;
   list-style-type: none;
   
}
.flex-item ul li a {
    color: #1a73e8;
    padding: 5px 10px;
}
.click-link {
    color: #ffffff !important;
    background-color: #32373c;
    border-radius: 50px;
}

.flex-content-center {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 50px;
}

.btn-color {
    background-color: #1a73e8 !important;
}

.button-page {
    background-color: #32373c;
    border-radius: 50px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.button-page a {
    color: #fff;
}