
.footer-container {
    margin: 0 4vw;
}

.section-game {
    padding-left: 4vw;
    padding-right: 4vw;
}

.container-section {
    padding: 0 8vw;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    flex: 0 1 100%;
    padding-bottom: 15px;
}

@media screen and (min-width: 601px) {
    .flex-item {
        flex: 0 1 calc(50% - 5px);
    }
}

@media screen and (min-width: 993px) {
    .flex-item {
        flex: 0 1 calc(33% - 5px);
    }
}

.card-item {
    position: relative;
}

.card-item img {
    border-radius: 10px;
    aspect-ratio: 2/1;
    width: 100%;
    height: 100%;
}

.card-item div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 30px;
    color: #fff;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 30%,rgba(0,0,0,0.75) 100%);
    border-radius: 10px;
}

.card-item div h2, .card-item div p {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.card-item div h2 {
    font-size: 18px;
    font-weight: 500;
}

.card-item div p {
    font-size: 13px;
    
}